*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.parent{
    width: 800px;
    height:800px;
    margin:auto;
    margin-top:100px;
    border:1px solid black;
    /* make parent grid container */
    display:grid;
    /*  */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:5px;
}
.child1{
    grid-column:1/3;
    grid-row:1/2;
    background-color: white;
    display:flex;
    justify-content: space-between;
    
}
.child1 .text{
    width: 50%;
    height: 50%;
    font-size:25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px; 
}
.child1 .text p{
    font-size:14px;
}
.child1 .text h5{
    font-size:24px;
    font-weight: bold;  
}

.child2{
    grid-column:3/5;
    grid-row:1/2;
    background-color: rgba(199, 196, 196, 0.953);
    
}
.child2 .text{
    margin-top: 40px;
}
.child2 .text p{
    text-align: center;
    font-size:medium

}
.child2 .text h3{
    font-size:30px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.child2 .text a{
    text-align: center;
    margin-left:145px;
    margin-top:40px;
    
    font-size:15px;
    
    
}
.child3{
    grid-column:1/2;
    background-color: rgb(255, 81, 0);
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
.child3 .text{
    padding-bottom:40px;
}
.child3 .text h3{
    font-size:20px;
    text-align: center;
    color:white; 
}
.child3 .text p{
    text-align: center;
    color:white;
    padding-top:10px;
    font-size:10px;
    color:white;
}
.child3 .seg img{
    margin-top: 60px;
    margin-left: 25px;
    width:150px;
    height:50px;
}
.child4{
    grid-column:2/4;
    background-color: white;
    display:flex;
}
.child4 .text{
    margin-top: 40px;
    margin-left: 30px;
}
.child4 .text h3{
    font-size:20px;
    font-weight: bold;
}
.child4 .text p{
    font-size:20px;
    margin-bottom: 5px;
}

.child4 .img{
    margin-top: 0px;
    margin-left: 20px;
    padding-top:20px;
}
.child4 .right{
    margin-top: 20px;
    margin-left: 30px;
    margin-right:20px;
    width: 50%;
    height: 50%;
    font-size:10px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px; 
}
.child4 .right a{
    padding-top:10px;
    margin-top:20px;
    font-size:7px;
    text-decoration: none;
    color: rgb(98, 181, 208)
}

.child5{
    grid-row:2/4;
    grid-column:4/5;
    background-color:mediumpurple;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
}

.child5 h2{
    margin-top:20px;
}

.child5 p{
    margin-top:10px;
    font-size:14px;
}

.child6{
    grid-row:3/4;
    grid-column:1/2;
    background-color:white;
    padding:30px;
}
.child6 h3{
    font-size:20px;
    font-weight: bold;
    
}
.child6 p{
    font-size:14px;
    margin-top:10px;
}
.child7{
    grid-row:3/4;
    grid-column:2/4;
    background-color:rgba(0, 128, 100, 0.845);
    color:white;
    text-align:center;
}
.child7 img{
    margin-top: 40px;
    margin-left: 25px;
    
}
.child7 h2{
    margin-top: 40px;
}



